@model wmfRefGroup
@{
    ViewBag.Title = "修改类别组";
    Layout = "~/Views/Shared/_SysLayout.cshtml";    
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/RefGroup/I";

    var refGroupList = new RefGroupVModel().List.ToList();
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">       
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
            <button class="btn green" type="button" id="submitBtn">@("提交".GX())</button>
            <button class="btn" type="button" onclick="jumptourl('@backurl')">@("返回".GX())</button>
            </div>
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>修改类别组</div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("Update", "RefGroup", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "fmForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID)
                        <table class="tableadd table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(m => m.ParentId)</th>
                                    <td>@MvcHtmlString.Create(Html.DropDownList(refGroupList, "ID", "RefGroupName", "RefGroupNameTree", "ParentId", "ParentId", "ParentId", Model.ParentId.ToSecureString(), "class=\"large m-wrap\"", "", "==请选择=="))</td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th>@Html.LabelFor(m => m.RefGroupName)</th>
                                    <td>@Html.TextBoxFor(m => m.RefGroupName, new { @class = "m-wrap large" })</td>
                                </tr>                                
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
         
        <script type="text/javascript">  
            $(ajaxSubmitFormHandle('#submitBtn', '#fmForm', '提交失败，请联系管理员', '#divInfo', false));            
        </script>
    }
