@model RefGroupVModel
@{
    ViewBag.Title = "类别组配置";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
    Model.FlagTrashed = "0";
}
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">
        @if (资源.类别组.havePrivilege(操作.添加))
        { <button class="btn green" type="button">@("添加".GetXmlConfig())</button>}
            
        @*<button class="btn blue" type="button">@("修改".GetXmlConfig())</button>
        <button class="btn red" type="button">@("删除".GetXmlConfig())</button>
        <button class="btn" type="button">@("返回".GetXmlConfig())</button>
        <button class="btn yellow" type="button">@("查询".GetXmlConfig())</button>
        <button class="btn black" type="button">@("查询".GetXmlConfig())</button>*@


        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>类别组设置</div>
                @*<div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#portlet-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
                </div>*@
            </div>
            <div class="portlet-body">
                <table id="MoreSunList" class="table table-hover">
                    <thead>
                        <tr>
                            <th>类别组名</th>
                            <th>排序</th>
                            <th>操作</th>
                            @*<th class="hidden-480">Username</th>*@

                        </tr>
                    </thead>
                    <tbody>
                        @{Action<wmfRefGroup> action = (i) =>
                        {
                            Func<wmfRefGroup, HelperResult> fun = @<tr data-tt-id="@item.ID" data-tt-parent-id="@item.ParentId">
                                <td style="text-align:left;">
                                    <span class="folder ui-draggable">
                                        @item.RefGroupName
                                    </span>
                                        <input id="checkedId" type="hidden" value="@item.ID" />
                                </td>
                                <td>
                                    @item.Sort
                                </td>
                                <td></td>
                            </tr>;
                            Write(fun(i));
                        };
                        Model.Each(Model.Roots, action);
                        }

                        @*<tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td class="hidden-480">makr124</td>
                    <td><span class="label label-success">Approved</span></td>
                </tr>*@
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/validator")
        @Scripts.Render("~/bundles/morsuncommon")
        @Styles.Render("~/Content/treetableCss")
        @Scripts.Render("~/bundles/treetable")        
        <script type="text/javascript">            
            $("#MoreSunList").treetable({ expandable: true });

            // Highlight selected row
            $("#MoreSunList tbody").on("mousedown", "tr", function () {
                $(".selected").not(this).removeClass("selected");
                $(this).toggleClass("selected");
            });

            // Drag & Drop Example Code
            $("#MoreSunList .file, #example-advanced .folder").draggable({
                helper: "clone",
                opacity: .75,
                refreshPositions: true,
                revert: "invalid",
                revertDuration: 300,
                scroll: true
            });

            $("#MoreSunList .folder").each(function () {
                $(this).parents("#example-advanced tr").droppable({
                    accept: ".file, .folder",
                    drop: function (e, ui) {
                        var droppedEl = ui.draggable.parents("tr");
                        $("#example-advanced").treetable("move", droppedEl.data("ttId"), $(this).data("ttId"));
                    },
                    hoverClass: "accept",
                    over: function (e, ui) {
                        var droppedEl = ui.draggable.parents("tr");
                        if (this != droppedEl[0] && !$(this).is(".expanded")) {
                            $("#example-advanced").treetable("expandNode", $(this).data("ttId"));
                        }
                    }
                });
            });
        </script>
    }
