@model RefGroupVModel
@{
    ViewBag.Title = "移动类别组";
    Layout = "~/Views/Shared/_SysLayout.cshtml";    
    string rs = ViewBag.RS;
    var backurl = ViewBag.BackUrl ?? "Index";   
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">
        <button class="btn" type="button" onclick="jumptourl('@backurl')">@("返回".GX())</button>
        <button class="btn purple" type="button" onclick="morsunEC('#MoreSunTreeTable', 'expandAll')">@("展开".GX())</button>
        <button class="btn purple" type="button" onclick="morsunEC('#MoreSunTreeTable', 'collapseAll')">@("收起".GX())</button>
        <div class="portlet box @("red".getBC())">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>类别组设置</div>
            </div>
            <div class="portlet-body">
                <table id="MoreSunTreeTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>类别组名</th>
                            <th>序号</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{Action<wmfRefGroup> action = (i) =>
                        {
                            Func<wmfRefGroup, HelperResult> fun = @<tr id="TR_@item.ID" data-tt-id="@item.ID" data-tt-parent-id="@item.ParentId">
                                <td style="text-align:left;">
                                    <span class="folder ui-draggable">
                                        @item.RefGroupName
                                    </span>
                                    <input id="checkedId" type="hidden" value="@item.ID" />
                                </td>
                                <td>
                                    @item.Sort
                                </td>
                            </tr>;
                            Write(fun(i));
                        };
                        Model.Each(Model.Roots, action);
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
        @Styles.Render("~/Content/treetableCss")
        @Scripts.Render("~/bundles/treetable")  
        <script type="text/javascript">  
            morsunTreeTable('#MoreSunTreeTable', "expanded", true, true);
        </script>
    }
