@model IndexModel
@{
    ViewBag.Title = "在线客服";    
    var backurl = ViewBag.ReturnUrl ?? "/H/I";  
        
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>在线客服</div>                    
                </div>
                <div class="portlet-body">
                    <table id="MoreSunTreeTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>在线客服</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2059028001&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2059028001:53" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
        @Styles.Render("~/Content/treetableCss")
        @Scripts.Render("~/bundles/treetable")  
        <script type="text/javascript">  
            @*@if (Model.FlagTrashed == "0")
            {
               @:morsunTreeTable('#MoreSunTreeTable', "expanded", true);
            }*@
        </script>
    }
