@model UInfo
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Views/Shared/_UCLayout.cshtml";    
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/Operation/I";
    
    HttpCookie Cookie_login = Request.Cookies["HIC"];
    var bic = Cookie_login["HIC"].ToString();
    var user = MorSun.Controllers.BasisController.CurrentAspNetUser;
    var umb = MorSun.Controllers.BasisController.CurrentUserMabi;
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">   
        
        @if (!Model.IsBoundZYB)
        { 
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>绑定作业邦</div>
                </div>
                <div class="portlet-body">
                    <span style="font-size: 25px; font-weight: bolder; margin-right: 50px;">
                        微信发送绑定代码</span>
                    <span style="font-size:50px;font-weight:bolder;padding-top:15px;">@Model.BoundCode</span>
                    <span style="vertical-align:central;margin-left:50px;">&nbsp;&nbsp;&nbsp;&nbsp;(请在两分钟内完成绑定)</span>
</div>
            </div>
        }
        
        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>邦马币</div>
            </div>
            <div class="portlet-body">
                <p class="logonP">马币:<span class="logonSpanRed">@umb.NMB.ToString("f2")</span>   <span class="logonSpanReight"><a href="@("ServiceDomain".GHU() + "TipsMB".GX())">@Html.Partial("_Lamp")</a></span></p>
                <p class="logonP">邦币:<span class="logonSpanGreenMabi">@umb.NBB.ToString("f2")</span>    <span class="logonSpanReight"><a href="@("ServiceDomain".GHU() + "TipsBB".GX())">@Html.Partial("_Lamp")</a></span></p>
                <p class="logonP">绑币:<span class="logonSpanYellow">@umb.NBANB.ToString("f2")</span>    <span class="logonSpanReight"><a href="@("ServiceDomain".GHU() + "TipsBDB".GX())">@Html.Partial("_Lamp")</a></span></p>
                <p class="logonP">分享链接： <span class="logonSpanGreen">@("ServiceDomain".GHU())/H/I/</span><span class="logonSpanGreen">@(bic)</span><span class="logonSpanReight"><a href="@("ServiceDomain".GHU() + "TipsEXT".GX())">@Html.Partial("_Lamp")</a></span></p>
            </div>
        </div>



        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
         
        <script type="text/javascript">  
            $(ajaxSubmitFormHandle('#submitBtn', '#fmForm', '提交失败，请联系管理员', '#divInfo', false));            
        </script>
    }
