@model UInfo
@{
    ViewBag.Title = "会员中心";
    Layout = "~/Views/Shared/_UCLayout.cshtml";    
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/Operation/Index";

}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">   
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
            <button class="btn green" type="button" id="submitBtn">@("提交".GX())</button>
            @*<button class="btn" type="button" onclick="jumptourl('@backurl')">@("返回".GX())</button>*@
            </div>
        @if (!Model.IsBoundZYB)
        { 
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>绑定作业邦</div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("Info", "Member", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "fmForm" }))
                    {
                        @Html.AntiForgeryToken()                       
                        <table class="tableadd table-hover">
                            <thead>
                                <tr>
                                    <th width="300">@Html.LabelFor(m => m.BoundCode)</th>
                                    <td><span style="font-size:50px;font-weight:bolder">@Model.BoundCode</span></td>    
                                    <td><span>(请在两分钟内完成绑定)</span></td>                                  
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        }
        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
         
        <script type="text/javascript">  
            $(ajaxSubmitFormHandle('#submitBtn', '#fmForm', '提交失败，请联系管理员', '#divInfo', false));            
        </script>
    }
