@model Recharge
@{
    ViewBag.Title = "充值";
    Layout = "~/Views/Shared/_UCLayout.cshtml";
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/Member/I";   
    var refVM = new ReferenceVModel(); 
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">   
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
            <button class="btn green" type="button" id="submitBtn">@("提交".GX())</button>            
            </div>
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>充值</div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("Recharge", "Member", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "fmForm" }))
                    {
                        @Html.AntiForgeryToken()                       
                        <table class="tableadd table-hover">
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(m => m.KaMe)</th>
                                    <td>@Html.TextBoxFor(m => m.KaMe, new { @class = "m-wrap large" })</td>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>充值卡淘宝专卖</div>
            </div>
            <div class="portlet-body">
                <table class="tableadd table-hover">
                    <thead>
                        <tr>
                            <td>邦马网用户冲值卡：<a href="http://bungma.taobao.com" target="_blank">淘宝专卖店</a>(自动发卡)</td>                            
                        </tr>                        
                    </thead>
                    <tbody>
                        <tr><td>或者您也可以尝试点击：&nbsp;<a href="http://www.bungma.com/我爱你">http://www.bungma.com/我爱你</a>&nbsp;不要问我为什么！好软件，必须让你用得这么任性！！！</td></tr>
                        <tr><td>手机淘宝：<img src="/Images/bm/tbmobile.png" /></td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>充值记录</div>
            </div>
            <div class="portlet-body">                
                <table class="tableadd table-hover">
                    <thead>
                        <tr>
                            <th>币种</th>
                            <th>币值</th>
                            <th>充值时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.rList)
                        {
                            <tr>
                                <td style="text-align:center">@refVM.GetReferenceValue(m.KaMeRef)</td>
                                <td style="text-align:center">@(m.MaBiNum == null ? "" : m.MaBiNum.ToString("f0"))</td>
                                <td style="text-align:center">@m.RegTime</td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>
        </div>

        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
         
        <script type="text/javascript">  
            $(ajaxSubmitFormHandle('#submitBtn', '#fmForm', '提交失败，请联系管理员', '#divInfo', false, morsunInitform, []));
            function morsunInitform() {
                $('#KaMe').val('');
            }
        </script>
    }
