@model Take
@{
    ViewBag.Title = "取现";
    Layout = "~/Views/Shared/_UCLayout.cshtml";
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/Member/Take";   
    var refVM = new ReferenceVModel();
    var haveTakeThisWeak = Model.thisWeakTake.Count() > 0;    
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
            <button class="btn green" type="button" id="tknBtn">@("提交".GX())</button>
        </div>
        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>取现</div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Take", "Member", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "tknForm" }))
                {
                    @Html.AntiForgeryToken()
                    <table class="tableadd table-hover">
                        <thead>
                            <tr>
                                <th>马币余额</th>
                                <td>@MorSun.Controllers.BasisController.CurrentUserMabi.NMB.ToString("f2")</td>
                            </tr>
                        </thead>
                        <tbody>                            
                            <tr>
                                <th>@Html.LabelFor(m => m.MaBiNum)</th>
                                <td>@Html.TextBoxFor(m => m.MaBiNum, new { @class = "m-wrap large" })</td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(m => m.UserRemark)</th>
                                <td>@Html.TextAreaFor(m => m.UserRemark, new { @class = "m-wrap large" })</td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>

        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>取现声明</div>
            </div>
            <div class="portlet-body">
                <div class="tableadd" style="color:red">
                    <p>
                        声明：每周都有一次免费的取现机会，如果一周内的取现次数超过一次，邦马网将收取 取现金额的1%当手续费。您点击取现代表您明白并同意这项声明。
                    </p>
                </div>
            </div>
        </div>

        <div class="portlet box @("red".getBC("BootStrapCssTable"))">
            <div class="portlet-title">
                <div class="caption"><i class="icon-cogs"></i>取现记录</div>
            </div>
            <div class="portlet-body">
                <table class="tableadd table-hover">
                    <thead>
                        <tr>
                            <th>币值</th>
                            <th>有效性</th>
                            <th>添加时间</th>
                            <th>取现</th>
                            <th>取现时间</th>
                            <th>取现金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.tList)
                        {
                            <tr>
                                <td title="@m.UserRemark">@m.MaBiNum.ToString("f2")</td>
                                <td title="@m.BMExplain">@refVM.GetReferenceValue(m.Effective)</td>
                                <td>@m.RegTime.ToShortDateString()</td>
                                <td>@refVM.GetReferenceValue(m.TakeRef)</td>
                                <td>@m.TakeTime.ToShortDateString()</td>
                                <td>@(m.TakeMoney == null ? "" : m.TakeMoney.ToString("f2") + "元")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
         @if (haveTakeThisWeak)
        {
            <script type="text/javascript">
                $(confirmSubmitFormHandle('本次取现将收取1%的手续费', '#tknBtn', '#tknForm', '提交失败，请联系管理员', '#divInfo', true, morsunInitform, []));
                function morsunInitform() {
                    $('#MaBiNum').val('');
                    $('#UserRemark').val('');
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(ajaxSubmitFormHandle('#tknBtn', '#tknForm', '提交失败，请联系管理员', '#divInfo', true, morsunInitform, []));
                function morsunInitform() {
                    $('#MaBiNum').val('');
                    $('#UserRemark').val('');
                }
            </script>
         }
        <script type="text/javascript">
            $($('#tknForm').keydown(function (e) { var curKey = e.which; if (curKey == 13) { return false; } }));
        </script>
    }
