@model BMQAViewVModel
@{
    ViewBag.Title = "查看问题";    
    var backurl = ViewBag.ReturnUrl ?? "/H/I";
     
    var rUrl = Request.RawUrl ?? "/h/i"; 
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">           
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">            
            @if(Model.A==null)
            { 
                using (Html.BeginForm("MB", "QA", new { returnUrl = Request.RawUrl }, FormMethod.Post, new { id = "addMBForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@Model.Q.ID" />
                
                    @:问题数量：<input type="text" id="qCount" name="qCount" value="1" onkeydown="return InputInteger(event)" class="m-wrap xsmall" style="background-color:#fff;margin-right:60px;" />
                    if (!Request.IsAuthenticated)
                    { 
                        <button id="BtnAddMaBi" class="btn yellow" type="button" onclick="addMaBi()">@("增加马币".GX())</button>
                    }
                    else
                    {
                        <button id="BtnAddMaBi" class="btn yellow" type="button">@("增加马币".GX())</button>
                    }
                    
                    if (!Request.IsAuthenticated)
                    {
                        <button id="BtnLogin" class="btn green" type="button" onclick="addMaBi()">@("登录".GX())</button> 
                    } 
                    else
                    {
                        <button id="BtnMember" class="btn green" type="button" onclick="jumptourl('/Member/I')">会员中心</button>
                        <button id="BtnRecharge" class="btn purple" type="button" onclick="jumptourl('/Member/Recharge')">充值</button>
                    }  
                }                   
            }
            else { 
                using (Html.BeginForm("AddQ", "QA", new { returnUrl = Request.RawUrl }, FormMethod.Post, new { id = "addQForm" }))
                {
                    @Html.AntiForgeryToken()
                
                    <input type="hidden" name="id" value="@Model.Q.ID" />                
                    @:追问：<input type="text" id="AddQ" name="AddQ" value="" class="m-wrap small" style="background-color:#fff;margin-right:60px;" />
                
                    if (!Request.IsAuthenticated)
                    { 
                        <button id="BtnAddQ" class="btn green" type="button" onclick="addQ()">@("追问".GX())</button>
                    }
                    else
                    {
                        <button id="BtnAddQ" class="btn green" type="button">@("追问".GX())</button>
                    }

                    if (Model.Objecs.Count() == 0)
                    {
                        <button class="btn red" type="button" onclick="syy()">@("提交异议".GX())</button>
                    }
                    
                    
                    if (!Request.IsAuthenticated)
                    {
                        <button id="BtnLogin" class="btn green" type="button" onclick="addMaBi()">@("登录".GX())</button> 
                    } 
                    else
                    {
                        <button id="BtnMember" class="btn green" type="button" onclick="jumptourl('/Member/I')">会员中心</button>
                        <button id="BtnRecharge" class="btn purple" type="button" onclick="jumptourl('/Member/Recharge')">充值</button>
                    }      
                }
            }        
        </div>
        <div class="portlet-body">            
            @if (!Request.IsAuthenticated)
            {  <!--登录开始-->
                <div id="DivLoginPort" class="portlet box @("red".getBC("BootStrapCssTable"))" style="display:none">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>登录</div>
                    </div>
                    <section class="featured">
                        <div class="content-wrapper">
                            <div class="content-login" style="float:left;">                                                              
                                @Html.Partial("_TableLogon", new LoginModel() { ReturnUrl = rUrl })                                
                            </div>
                            <div style="display:none" id="DIVSL"></div>
                        </div>
                    </section>
                </div>
                <!--登录结束-->
            }
            else {     
                if(Model.A != null && Model.Objecs.Count() == 0)
                {         
                <!--提交异议-->
                <div id="DivSYY" class="portlet box @("red".getBC("BootStrapCssTable"))" style="display:none">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>提交异议</div>
                    </div>                
                    @Html.Partial("_Objection", new AddObjection() { ReturnUrl = rUrl,QAId = Model.Q.ID })                
                </div>  
                <!--异议结束-->  
                }  
            }            
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>问题编号：@(Model.Q.AutoGrenteId) &nbsp;&nbsp;&nbsp;&nbsp; @((Model.Q.MBNum == 0 || Model.Q.MBNum == null) && (Model.Q.BBNum == 0 || Model.Q.BBNum == null) ? "免费提问" : ("消耗" + ((Model.Q.MBNum == 0 || Model.Q.MBNum == null) ? "" : (Math.Abs(Model.Q.MBNum).ToString("f0") + "马币")) + ((Model.Q.BBNum == 0 || Model.Q.BBNum == null) ? "" : (Math.Abs(Model.Q.BBNum).ToString("f0") + "邦币")))) &nbsp;&nbsp;&nbsp;&nbsp; 提问时间：@(HOHO18.Common.ChangeDateTime.DateStringFromNow(Model.Q.RegTime == null ? DateTime.Now : Model.Q.RegTime.Value))</div>
                </div>
                <div class="textCenter">
                    @if (Model.Q.MsgType == Guid.Parse(Reference.微信消息类别_文本))
                    {           
                        <div class="textLeft">         
                            <h1>@Model.Q.QAContent</h1>    
                        </div>                
                    }
                    else if (Model.Q.MsgType == Guid.Parse(Reference.微信消息类别_图片))
                    {
                        <img id="ImgQA" src="@Model.Q.PicUrl" onclick="jumptourl('@Model.Q.PicUrl')" width="99%" />
                    }
                    else if (Model.Q.MsgType == Guid.Parse(Reference.微信消息类别_声音))
                    {
                        <img id="ImgQA" src="/images/zyb/voice.png" />
                        <p>
                            向“@Model.Q.WeiXinAPPName” 发送 ck @Model.Q.AutoGrenteId 可听到这条语音
                        </p>                        
                    }               
                </div>
            </div>
            @if (Model.A != null)
            {    
                <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>答案</div>
                    </div>

                    @if (Model.A.QARef == Guid.Parse(Reference.问答类别_不是问题))
                    {
                        <div class="textLeft">
                            <h1>这不是一个问题</h1>
                        </div>
                    }
                    @if (Model.A.QARef == Guid.Parse(Reference.问答类别_答案))
                        {
                        <div class="textCenter">
                            @if (Model.A.MsgType == Guid.Parse(Reference.微信消息类别_文本))
                            {   <div class="textLeft">
                                    <h1>@Model.A.QAContent</h1>
                                </div>
                            }
                            else if (Model.A.MsgType == Guid.Parse(Reference.微信消息类别_图片))
                            {
                                <img id="ImgDA" src="@Model.A.PicUrl" onclick="jumptourl('@Model.A.PicUrl')" width="99%" />
                            }
                            else if (Model.A.MsgType == Guid.Parse(Reference.微信消息类别_声音))
                            {
                                <img id="ImgQA" src="/images/zyb/voice.png" />
                                <p>
                                    向“@Model.A.WeiXinAPPName” 发送 ck @Model.A.AutoGrenteId 可听到这条语音
                                </p> 
                            }   
                        </div>
                    }
                </div>   
            }

            

            @if (Model.Objecs.Count() > 0)
            {                
                <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>异议</div>
                    </div>
                    @foreach (var item in Model.Objecs)
                    {
                        <div class="portlet-body">
                            <table class="tableadd table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="2">
                                            <p>用户在 @(HOHO18.Common.ChangeDateTime.DateStringFromNow(item.SubmitTime == null ? DateTime.Now : item.SubmitTime.Value)) 提交异议说错了 <span class="spanRed spanBold">@item.ErrorNum</span> 道题 系统扣取 <span class="spanRed spanBold">@(item.KQBBNum == 0 ? "" : "邦币" + Math.Abs(item.KQBBNum).ToString("f0")) @(item.KQMBNUM == 0 ? "" : "马币" + Math.Abs(item.KQMBNUM).ToString("f0"))</span> 作压金</p>
                                            <p>@item.ObjectionExplain</p>                                            
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>   
                                    @if(item.Result != null)
                                            {
                                    <tr>
                                        <td> 
                                                @if(item.Result == Guid.Parse(Reference.异议处理结果_答错))
                                                { 
                                                    <p>马子在 @(HOHO18.Common.ChangeDateTime.DateStringFromNow(item.HandleTime == null ? DateTime.Now : item.HandleTime.Value)) 检查结果说 总的提问 <span class="spanRed spanBold">@item.AllQANum</span> 道题 其中错了 <span class="spanRed spanBold">@item.ConfirmErrorNum</span> 道题 系统归还 <span class="spanRed spanBold">@(item.GHBBNum == 0 ? "" : "邦币" + Math.Abs(item.GHBBNum).ToString("f0")) @(item.GHMBNUM == 0 ? "" : "马币" + Math.Abs(item.GHMBNUM).ToString("f0"))</span></p>
                                                    <p>扣取答题用户 <span class="spanRed spanBold">@(item.KQdtBanBNum == 0 ? "" : "绑币" + Math.Abs(item.KQdtBanBNum).ToString("f0")) @(item.KQdtMBNUM == 0 ? "" : "马币" + Math.Abs(item.KQdtMBNUM).ToString("f0"))</span></p>
                                                    <p>@Html.Raw(item.HandleExplain)</p>
                                                }
                                                else
                                                {
                                                    <p>马子在 @(HOHO18.Common.ChangeDateTime.DateStringFromNow(item.HandleTime == null ? DateTime.Now : item.HandleTime.Value)) 检查结果说该问题 @item.ItemValue</p>
                                                    <p>@Html.Raw(item.HandleExplain)</p>
                                                }
                                        </td>
                                    </tr>  
                                            }                                  
                                </tbody>
                            </table>
                        </div>
                    }
                </div>                
            } 

            @foreach(var cq in Model.ChirldQS)
            {
                <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>追问编号：@(cq.AutoGrenteId) &nbsp;&nbsp;&nbsp;&nbsp; @((cq.MBNum == 0 || cq.MBNum == null) && (cq.BBNum == 0 || cq.BBNum == null) ? "免费提问" : ("消耗" + ((cq.MBNum == 0 || cq.MBNum == null) ? "" : (Math.Abs(cq.MBNum).ToString("f0") + "马币")) + ((cq.BBNum == 0 || cq.BBNum == null) ? "" : (Math.Abs(cq.BBNum).ToString("f0") + "邦币")))) &nbsp;&nbsp;&nbsp;&nbsp; 提问时间：@(HOHO18.Common.ChangeDateTime.DateStringFromNow(cq.RegTime == null ? DateTime.Now : cq.RegTime.Value))</div>
                    </div>
                    <div class="textCenter">
                        @if (cq.MsgType == Guid.Parse(Reference.微信消息类别_文本))
                        {           
                            <div class="textLeft">         
                            <h1>@cq.QAContent</h1>  
                                </div>                  
                        }
                        else if (cq.MsgType == Guid.Parse(Reference.微信消息类别_图片))
                        {
                            <img id="ImgQA" src="@cq.PicUrl" onclick="jumptourl('@cq.PicUrl')" width="99%" />
                        }
                        else if (cq.MsgType == Guid.Parse(Reference.微信消息类别_声音))
                        {
                            <img id="ImgQA" src="/images/zyb/voice.png" />
                            <p>
                                向“@cq.WeiXinAPPName” 发送 ck @cq.AutoGrenteId 可听到这条语音
                            </p>                        
                        }               
                    </div>
                </div>
                
                {var thisA = Model.ChrildAS.FirstOrDefault(p => p.ParentId == cq.ID);
                if(thisA != null)
                {
                    <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>答案</div>
                    </div>

                    @if (thisA.QARef == Guid.Parse(Reference.问答类别_不是问题))
                    {
                        <div class="textLeft">
                            <h1>这不是一个问题</h1>
                        </div>
                    }
                    @if (thisA.QARef == Guid.Parse(Reference.问答类别_答案))
                        {
                        <div class="textCenter">
                            @if (thisA.MsgType == Guid.Parse(Reference.微信消息类别_文本))
                            {
                                <div class="textLeft">
                                    <h1>@thisA.QAContent</h1>
                                </div>
                            }
                            else if (thisA.MsgType == Guid.Parse(Reference.微信消息类别_图片))
                            {
                                <img id="ImgDA" src="@thisA.PicUrl" onclick="jumptourl('@thisA.PicUrl')" width="99%" />
                            }
                            else if (thisA.MsgType == Guid.Parse(Reference.微信消息类别_声音))
                            {
                                <img id="ImgQA" src="/images/zyb/voice.png" />
                                <p>
                                    向“@thisA.WeiXinAPPName” 发送 ck @thisA.AutoGrenteId 可听到这条语音
                                </p> 
                            }   
                        </div>
                    }
                </div>  
                }
                }
            }
           
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>作业邦   
                        <button class="btn purple" type="button" onclick="scanQRCode();">扫一扫</button>
                        <button class="btn purple" type="button" onclick="scanQRCodeReturn()">扫码</button>
                        @*<button id="getLocation" class="btn purple" type="button" onclick="getLocation()">提交我的位置</button>*@
                        @*<button id="checkJsApi" class="btn purple" type="button">检测</button>*@
                    </div>
                </div>
                <div class="textCenter">
                    <img src="/Images/zyb/zyb258.jpg" title="作业邦" />

                    <div><span class="weixinText"><h2>微信扫一扫</h2></span></div>
                    <div><span class="weixinText"><h2>老师学霸跟着走</h2></span></div>
                    <p></p>
                </div>
            </div>



            @*@if (Model.Others.Count() > 0)
            {
                foreach (var item in Model.Others)
                {
                    <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-cogs"></i>其他</div>
                        </div>
                        @if (item.QARef == Guid.Parse(Reference.问答类别_放弃))
                        {
                            <div class="textCenter">
                                <h1>被答题用户放弃</h1>
                            </div>
                        }
                    </div>
                }
            }*@ 

        </div>
    </div>         
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")        
        @Scripts.Render("~/bundles/waypoint")
 
        @if (!Request.IsAuthenticated)
        {
            <script type="text/javascript"> 
                $(ajaxSubmitFormHandle('#submitBtn', '#logonForm', '登录失败，请联系管理员', '#divInfo', true));                
                function addMaBi() {
                    $('#DivLoginPort').toggle();
                    if ($('#DivLoginPort').is(':hidden')) {
                        //如果隐藏时的处理方法
                    } else {
                        $('body,html').animate({ scrollTop: 0 }, 1000);
                        return false;
                    }                    
                }
                function syy() {
                    addMaBi();
                }
                function addQ(){
                    addMaBi();
                }
            </script>
        }
        else
        {
            <script type="text/javascript"> 
                $(confirmSubmitFormHandle('确认要增加吗', '#BtnAddMaBi', '#addMBForm', '马币增加失败，请联系管理员', '#divInfo', true));                
                $(confirmSubmitFormHandle('确认要提交异议吗', '#obSubmitBtn', '#obForm', '提交失败，请联系管理员', '#divInfo', true));      
                $(ajaxSubmitFormHandle('#BtnAddQ', '#addQForm', '提交失败，请联系管理员', '#divInfo', true));     
                $($('#addQForm').keydown(function (e) { var curKey = e.which; if (curKey == 13) { $('#BtnAddQ').click(); return false; } }));
                function addMaBi() {
                    //$('#DivLoginPort').toggle();
                }
                function syy() {
                    $('#DivSYY').toggle();
                }
            </script>
        }

        <script type="text/javascript">             
            $(function () {                
                //waypoint 
                $('.topmenu').waypoint(function (event, direction) {
                    $(this).toggleClass('stickytopmenu', direction === "down");
                    event.stopPropagation();
                });
                $('#zt_pf').html("");
                $('#zt_pf').css("background-image", "none");
            });
        </script>

        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">            
            wx.config({
                debug: false,
                appId: '@Model.WeiXinAPP',
                timestamp: @Model.TimeStamp,
                nonceStr: '@Model.NonceStr',
                signature: '@Model.Signature',
                jsApiList: [
                  'checkJsApi',                  
                  'translateVoice',
                  'startRecord',
                  'stopRecord',
                  'onRecordEnd',
                  'playVoice',
                  'pauseVoice',
                  'stopVoice',                  
                  'downloadVoice',                  
                  'openLocation',
                  'getLocation',
                  'scanQRCode'  
                ]
            });            
        </script>        
        @Scripts.Render("~/bundles/weixincommon")
    }
