@model MorSun.Model.LoginModel
@{
    ViewBag.Title = "登录悟空打码";
    //Layout = null;
}

<section id="loginForm">
    <h2>使用本地帐户登录。</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>“登录”表单</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                @*<li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>*@
            </ol>
            <input type="submit" value="登录" />
        </fieldset>
        <p>
            @Html.ActionLink("注册", "Register") 如果你没有帐户。
        </p>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Styles.Render("~/Content/JQueryQtipCustom/css")
    @Scripts.Render("~/Content/JQueryQtipCustom/js")
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.field-validation-error').each(function () {
                var inputElem = '#' + $(this).attr('data-valmsg-for').replace('.', '_').replace('[', '_').replace(']', '_');
                $(this).css("display", "none");
                $(inputElem).filter(':not(.valid)').qtip({
                    content: { text: $(this).text() },
                    position: {
                        //my: 'top left',
                        //at: 'bottom right',
                        my: 'left center',
                        at: 'right center',
                        viewport: $(window)
                    },
                    show: { ready: true },
                    hide: false,
                    style: {
                        classes: 'qtip-red'
                    }
                });
            });
        });        
    </script>
    }

