@model MorSun.Model.RegisterModel
@{
    ViewBag.Title = "注册" + "ServiceName".GX();
    int yzmR = new Random().Next(100000);
}

<div class="content-wrapper clear-fix">
    <section id="regform">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "fmForm" }))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>注册表单</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName) <span>例如：您的QQ号@qq.com</span>
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NickName)
                        @Html.TextBoxFor(m => m.NickName)
                    </li>
                    @if ("RegVerificationCode".GX().ToAs<bool>())
                    {
                        <li>
                            @Html.LabelFor(m => m.Verifycode)
                            @Html.TextBoxFor(m => m.Verifycode, new { @class = "loginYZMText", onfocus = "getVerifyCode('#Verifycode', '#VerifyCodeImg')" })
                            <img id="VerifyCodeImg" height="35px" src="/images/VerifyCode.aspx?type=@yzmR"
                                 title="看不清?点击换张图片!" style="vertical-align: middle; cursor: pointer; " onclick="this.src=this.src+'&';" />
                        </li>
                    }
                </ol>
                <input type="button" id="submitBtn" value="注册" />   <a href="/Account/Login">登录</a>
                <input name="VerifycodeRandom" type="hidden" value="@yzmR" />
                <input name="BeInviteCode" type="hidden" value="@Model.BeInviteCode" />
            </fieldset>
        }
    </section>
    </div>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/validator")
       
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")

        <script type="text/javascript">
            $(ajaxSubmitFormHandle('#submitBtn', '#fmForm', '注册失败，请联系管理员', '#divInfo', true));
        </script>
    }
