@{
    ViewBag.Title = "修改密码 - " + "ServiceName".GX();
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 您身边的问题解决专家 作业 作业神器 拍题神器 作业帮 作业邦  @("ServiceName".GX())</title>
    
</head>
<body>
    <header>
        <div id="top" class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><a href="@("ServiceDomain".GHU())" target="_blank"><img src="@("MediaDomain".GX())/images/bungmalogo.gif" width="68" class="float-left" /><span class="logohspan">@("ServiceName".GX())</span></a>@*<span class="logoyspan">@("ServiceDomain".GX())</span>*@</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @*<span class="telStringSpan">Tel.</span> <span class="telSpan">133 137 88387</span>*@
                </section>
            </div>
        </div>
    </header>
    <div id="body">
        <div class="content-wrapper clear-fix">
            <h3>亲耐的[==NickName==]:</h3>
            
            <p>请点击下面的链接修改您的密码。(请在@(CFG.有效时间)小时内完成)</p>
            
            <p>
                <a href="@("ServiceDomain".GHU())@(CFG.邮件通用入口)/[==UserCode==]" target="_blank">@("ServiceDomain".GHU())@(CFG.邮件通用入口)/[==UserCode==]</a>
            </p>

            <p>
                如果该链接无法点击，请直接拷贝以上链接到浏览器地址栏中访问。
            </p>
            
            <hr />

            <p>
                此信是由<a href="@("ServiceDomain".GHU())" target="_blank">@("ServiceName".GX())</a>系统发出，系统不接收回信，请勿直接回复。
            </p>
            </div>
        </div>
</body>
</html>
<style>
    html {
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #fff;
        border-top: solid 10px #000;
        color: #222;
        font-size: 1em;
        font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
        margin: 0;
        padding: 0;
    }

    a {
        color: #bd0124;
        outline: none;
        padding-left: 3px;
        padding-right: 3px;
        text-decoration: none;
    }

        a:link, a:visited,
        a:active, a:hover {
            color: #bd0124;
        }

        a:hover {
            text-decoration: underline;
        }

    img {
        border: none;
    }

    header, footer, hgroup,
    nav, section {
        display: block;
    }

    mark {
        background-color: #a6dbed;
        padding-left: 5px;
        padding-right: 5px;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .clear-fix:after {
        content: ".";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.2em;
    }

    .content-wrapper {
        margin: 0 auto;
        max-width: 960px;
    }

    #body {
        background-color: #fff;
        clear: both;
        padding-top: 35px;
        /*padding-bottom: 35px;*/
    }
    /*header*/
    header .content-wrapper {
        padding-top: 10px;
        height: 58px;
    }

    .site-title {
        color: #333;
        font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
        font-size: 2.3em;
        margin: 0;
        width: 200px;
    }

        .site-title a, .site-title a:hover, .site-title a:active {
            background: none;
            color: #333;
            outline: none;
            text-decoration: none;
        }

    header .logohspan {
        margin-left: 10px;
        float: left;
    }

    header .logoyspan {
        margin-top: -30px;
        margin-left: 80px;
        float: left;
        font-size: 12px;
        width: 200px;
    }

    header .telStringSpan {
        color: #E72F2F;
        font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
        font-size: 1.0em;
        margin: 0;
        margin-left: 50px;
    }

    header .telSpan {
        color: #99312E;
        font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
        font-size: 2.0em;
        margin: 0;
    }



    .featured {
        background-color: #bd0124;
    }

        .featured .content-wrapper {
            background-color: #bd0124;
            color: #1a1011;
            padding: 20px 40px 30px 40px;
            height: 400px;
        }
</style>

<script type="text/javascript">

</script>
