<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 验证码识别 远程答题服务 代答平台 验证码识别软件下载 悟空打码</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />        
        <meta content="验证码,验证码识别,验证码代答,验证码云服务中心,验证码服务,远程答题,远程代答,悟空打码,悟空打码官网,悟空答题" name="keywords" />
        <meta content="悟空打码是验证码远程智能识别人工打码平台,以性价比为优势，以服务为品质，充分学习并具备了前辈微锐、微速答题、自游答题、打码兔、冷雨夜答题挂的高速答题、准确识别一切验证码的优点，为用户提供最完美解决方案是信诺验证码识别平台不变的品质" name="description" />

        <meta name="description" content="机灵，活泼，乖巧是兔子的象征 —— 打码兔远程代答题以性价比为优势，以服务为品质，充分学习并具备了前辈微锐、微速答题、自游答题、冷雨夜答题挂的高速答题、准确识别一切验证码的优点，领跑代答题行业，做全国领先的远程代答题服务平台及开发一流的代答题器" />
        <meta content="验证码,验证码代答,验证码服务中心,验证码服务,信诺打码,信诺,信诺人工代答,信诺打码" name="keywords" />
        <meta name="Description" content="信诺打码是验证码人工打码平台！信诺旨在为广大软件开发者、工作室、普通用户提供即时、精准的验证码图片识别答题服务以快速解决海量验证码识别秒处理的困扰！ 7x24小时不间断识别,0~10秒极速返回识别结果，优中取优、专业进取、利润共享、为用户提供最完美解决方案是信诺验证码识别平台不变的品质！" />

        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="/Home/Index"><img src="/images/logo.png" width="68" style="float:left" /><span style="margin-top:0px;margin-left:10px; float:left">悟空打码</span><span style="margin-top:30px;float:left; font-size:12px;">5kdm</span></a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("主页", "Index", "Home")</li>
                            <li>@Html.ActionLink("关于", "About", "Home")</li>
                            <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p>
                </div>
            </div>
        </footer>
        
        @Scripts.Render("~/bundles/jquery")       
        @RenderSection("scripts", required: false)
    </body>
</html>
