@{
    //用户没登录，取不到值
    //var userinfo = MorSun.Controllers.BasisController.CurrentAspNetUser.wmfUserInfo;
    HttpCookie Cookie_login = Request.Cookies["HIC"];
    var bic = "bungma";
    if (Cookie_login != null && Cookie_login["HIC"] != null)
    {
        bic = Cookie_login["HIC"].ToString();
    }
    var encodeurl = HttpUtility.UrlEncode(Request.Url.ToString());
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 您身边的问题解决专家 - 作业 - 作业神器 - 拍题神器 - 作业帮 - 作业邦 - @("ServiceName".GX())</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="keywords" content="@ViewBag.Title - 作业,作业神器,拍题神器,作业帮,作业邦,课外辅导,远程答题,远程代答,@("ServiceName".GX()),@("ServiceName".GX())官网" />
    <meta name="description" content="@ViewBag.Title - @("ServiceName".GX())是全球最先进的课外辅导平台、最常用的中小学生学习社区,专注于中小学生的课外辅导，快速解答问题。充分学习并具备了前辈作业帮、作业神器、魔方格、拍题神器、问他作业、作业 的高速答题、准确答题的优点，为广大中小学生，网民，和所有乐享生活的高大上人士提供周到、准确、快速的答题服务" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="top" class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><a href="http://@("ServiceDomain".GX())"><img src="/images/bungmalogo.gif" width="68" class="float-left" /><span class="logohspan">@("ServiceName".GX())</span><span class="logoyspan">@("ServiceDomain".GX())</span></a></p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")<span class="telStringSpan">Tel.</span> <span class="telSpan">133 137 88387</span>
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("首页", "I", "H")</li>
                        @*<li>@Html.ActionLink("公告通知", "I", "H")</li>
                        <li>@Html.ActionLink("帮助说明", "I", "H")</li>*@
                        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2059028001&site=qq&menu=yes">在线客服</a></li>
                        @*<li>@Html.ActionLink("联系方式", "Contact", "Home")</li>*@
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <div id="Loading" class="Loading" style="display: none;">
        </div>
        <div id="divInfo" style="margin-top: 10px;">
        </div>
        <div id="back-to-top" style="display: none;">
            <a href="#top"></a>
        </div>
        <div id="zt_pf" style="display: none;">
            <a class="pf1" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2059028001&site=qq&menu=yes"></a>
            <a class="pf2" target="_blank" href="@("ServiceDomain".GHU())/Account/Register"></a>
            <a class="pf3" target="_blank" href="@("ServiceDomain".GHU())"></a>
        </div>
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>
        <div>
            <div class="float-none"><span class="flink">友情链接：<a href="@("ServiceDomain".GHU())">作业</a>|<a href="@("ServiceDomain".GHU())">作业帮</a>|<a href="@("ServiceDomain".GHU())">作业神器</a>|<a href="@("ServiceDomain".GHU())">问他作业</a>|<a href="@("ServiceDomain".GHU())">作业辅导</a>|<a href="@("ServiceDomain".GHU())">拍题神器</a></span></div>
            <div class="float-none"><span class="flink">提问群：293775971 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=b54bf88b35c628a5b7b6d2856514b1adc0fe19709ef490749eb1ed692f9f5085"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="作业邦提问群" title="作业邦提问群"></a>  答题群：192591862 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=8666f161aca144e1842c587065500dcc846e39bbadf67333f98d37e303a8a8ca"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="作业邦答题群" title="作业邦答题群"></a> 认证答题群：328556593 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=31f7f870510abea9e9f05b04b05666c80eea7ef004c90553a6aef5ba1212b8fe"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="作业邦认证答题群" title="作业邦认证答题群"></a></span></div>
            <div class="float-none"><span class="fExplan">@("ServiceName".GX())是全球最先进的课外辅导平台、最常用的中小学生学习社区,专注于中小学生的课外辅导，快速解答问题。是您身边的问题解决专家。</span></div>

            <div class="float-none"><span class="fExplan">地址：福州市台江区世纪百联大厦 电话：13313788387		<a href="http://www.miitbeian.gov.cn/"><span class="fExplan">闽ICP备14017527号</span></a></span></div>
            <div class="float-none">
                <p><span class="fExplan">&copy; @DateTime.Now.Year - All rights reserved</span></p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/hoho18")
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(backtop());        
        $($('#Verifycode').keydown(function (e) { var curKey = e.which; if (curKey == 13) { $('#submitBtn').click(); return false; } }));
        //百度分享
        window._bd_share_config = {
            common: {
                bdText: '邦马网 您身边的问题解决专家 作业神器 拍题神器',
                bdDesc: '作业神器 拍题神器 作业帮 课外辅导 中小学生学习社区 邦马网',
                bdUrl: '@("ServiceDomain".GHU())/H/I?bic=@(bic)&returnUrl=@(encodeurl)',
                bdPic: '@("ServiceDomain".GHU())/images/bungmalogo.gif',
            },
            share: [{
                "bdSize": 16
            }],
            slide: [{
                bdImg: 1,
                bdPos: "left",
                bdTop: 180,
            }],
            image: [{
                viewType: 'list',
                viewPos: 'top',
                viewColor: 'black',
                viewSize: '16',
                viewList: ['qzone', 'tqq', 'tsina', 'huaban', 'renren']
            }],
            selectShare: [{
                "bdselectMiniList": ['qzone', 'tqq', 'tsina', 'huaban', 'renren']
            }]
        }
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];

    </script>        @*'weixin',*@
    @RenderSection("scripts", required: false)
</body>
</html>
