@model MorSun.Model.AddObjection
@{       
    var rUrl = Model.ReturnUrl ?? "/H/I";
}

<div class="portlet-body">
    @using (Html.BeginForm("OB", "QA", new { returnUrl = rUrl }, FormMethod.Post, new { id = "obForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.QAId)        
        <table class="tableadd table-hover">
            <thead>
                <tr>
                    <td>
                        <h4>@Html.LabelFor(m => m.ErrorNum)</h4>
                    </td>
                </tr>
            </thead>
            <tbody>                
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.ErrorNum, new { @class = "m-wrap large", @Value = "1", onkeydown = "return InputInteger(event)" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>@Html.LabelFor(m => m.ObjectionExplain)</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextAreaFor(m => m.ObjectionExplain, new { @class = "m-wrap large", style = "height:300px;" })
                    </td>
                </tr>                
                <tr>
                    <td>
                        <button id="obSubmitBtn" class="btn green" type="button">@("提交".GX())</button>
                    </td>                    
                </tr>  
                <tr>
                    <td style="color:red">
                        <p><h2 style="color:red">提交异议须知：</h2></p>
                        <p>为了防止用户恶意提交(即问题回答对了也提交异议)，邦马网设置了提交异议需要扣取相应的邦马币以作压金。如果问题确实是回答错了，邦马网会如数归还扣取的邦马币以及提问消费的邦马币。但如果问题回答是正确的，或者该问题无标准答案(例如作文题、问题的答案不唯一)那么已经扣取的邦马币便不再归还。</p>
                        <p>不管您提问时消耗的邦马币值是多少(有可能出现提交多道题目时，平均到每道题目所消费的邦马币小于或大于500的情况)，在您提交异议时，邦马网扣取的压金最低为每道题500邦马币。</p>
                        <p>提交异议时，请您将正确的答案填写在异议说明里，方便马子们核对答案。</p>
                        <p>如果提问时提交的图片包含多个问题，其中有一部分题目回答错了，你需要将错误的题目数量填写进错题数量里，并在异议说明里注明哪些题目错了，并填写正确的答案。</p>
                        <p>对于提交的问题图片，请保证能清楚的识别，如果图片无法识别，并被答题用户标识为不是问题，您提交异议后，经马子确认了不是问题，则不归还压金以及提问所消费的邦马币。(不是问题的其他情况：上传的图片没有问题、作文类题目、无标准答案的题目、答题用户都可以标识为不是问题)</p>

                        <p>您只有一次机会将所有错误的题目提交，如果本次没有提交，或错误题目未提交完全，则马子会判断其他题目正确并与答题用户结算。</p>
                        <p>请在问题回答后的72小时内提交异议，过期的话，马子判断该问题回答正确！</p>
                        <p>您提问时就代表您已经清楚明白并同意以上说明内容。</p>
                    </td>
                </tr>              
            </tbody>
        </table>
    }
</div>

