@model MorSun.Model.LoginModel
@{
int yzmR = new Random().Next(100000);
}

<div class="divLogon" style="height:86px;">
    @if (!Request.IsAuthenticated)
    {
        using (Html.BeginForm("AjaxLogin", "Account", new { returnUrl = "/Home/Index" }, FormMethod.Post, new { id = "logonForm" }))
        {
            @Html.AntiForgeryToken()
        <hgroup class="title">
                    <h2>登录悟空打码</h2>
                </hgroup>
        <table class="tableLogon">
            <tr>
                <th>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "logonText iconUser" })     
                </th>                
            </tr>
            <tr>
                <th>
                    @Html.PasswordFor(m => m.Password, new { @class = "logonText iconPwd" })                   
                </th>                
            </tr>
            @if("LoginVerificationCode".GX().ToAs<bool>()){
            <tr>
                <th>                    
                    @Html.TextBoxFor(m => m.Verifycode, new { @class = "logonYZMText iconMa", onfocus = "getVerifyCode('#Verifycode', '#VerifyCodeImg')" })
                    <img id="VerifyCodeImg" height="35px" src="/images/VerifyCode.aspx?type=@yzmR"
                         title="看不清?点击换张图片!" style="vertical-align: middle; cursor: pointer; " onclick="this.src=this.src+'&';" />                                       
                </th>                
            </tr>
            }
            <tr>
                <th>
                    <input type="button" id="submitBtn" value="登录" class="logonBtn green" />
                </th>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>
                    <a href="/Account/ForgetPass">忘记密码？</a>
                </td>
            </tr>
            
            <tr><td class="tdHR"></td></tr>
            <tr><td><input name="VerifycodeRandom" type="hidden" value="@yzmR" /></td></tr>
            <tr>
                <td>
                    @if ("Register".GX() == "true")
                    { 
                        @:没有账号？   <a href="/Account/Register">注册新账号</a>
                    }
                </td>
            </tr>
        </table>
        }
    }
    else
    {var user=MorSun.Controllers.BasisController.CurrentAspNetUser;
        <p style="margin-left:10px;">欢迎你：@(user.wmfUserInfo == null ? user.UserName:user.wmfUserInfo.NickName) <a style="margin-right:50px;" href="/admin/home/index">会员中心</a></p>
        <p style="margin-left:10px;"><a style="margin-right:50px;" href="/admin/home/index">进入后台</a>  </p>
        
    }
</div>

