<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 您身边的问题解决专家 作业 作业神器 拍题神器 作业帮 作业邦  @("ServiceName".GX())</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="keywords" content="@ViewBag.Title - 作业,作业神器,拍题神器,作业帮,作业邦,课外辅导,远程答题,远程代答,@("ServiceName".GX()),@("ServiceName".GX())官网" />
    <meta name="description" content="@ViewBag.Title - @("ServiceName".GX())是全球最先进的课外辅导平台、最常用的中小学生学习社区,专注于中小学生的课外辅导，快速解答问题。充分学习并具备了前辈作业帮、作业神器、魔方格、拍题神器、问他作业、作业 的高速答题、准确答题的优点，为广大中小学生，网民，和所有乐享生活的高大上人士提供周到、准确、快速的答题服务" />
    
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/uniformmetroCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/uniform")   
    
    <style type="text/css" media="screen">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #666;
            padding: 40px;
        }

        h1 {
            margin-top: 0;
        }

        label {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            margin-bottom: 3px;
            clear: both;
        }

        .error {
            background-color: #FF8080;
        }

        .hide {
            display: none;
        }
    </style>   
</head>
<body>
    <header>
        <div id="top" class="content-wrapper">
            <div class="float-left">
                @*<p class="site-title"><a href="@("MediaDomain".GX())"><img src="/images/logo.gif" width="68" class="float-left" /><span class="logohspan">@("ServiceName".GX())</span></a><span class="logoyspan">5kdm</span></p>*@
            </div>
            <div class="float-right">               
                
            </div>
        </div>
    </header>
    <div id="body">
        <div id="Loading" class="Loading" style="display: none;">
        </div>
        <div id="divInfo" style="margin-top: 10px;">
        </div>       
        
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>        
    </footer> 
    @RenderSection("scripts", required: false)
</body>
</html>
