<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 验证码识别 远程答题服务 代答平台 验证码识别软件下载 悟空打码</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="keywords" content="@ViewBag.Title - 验证码,验证码识别,验证码代答,验证码云服务中心,验证码服务,远程答题,远程代答,悟空打码,悟空打码官网,悟空答题" />
    <meta name="description" content="@ViewBag.Title - 悟空打码是全球最先进的验证码识别平台,充分学习并具备了前辈微锐、微速答题、自游答题、打码兔、冷雨夜答题挂的高速答题、准确识别一切验证码的优点，为广大软件开发商，网民，盲人，和所有乐享生活的高大上人士提供周到、准确、快速的验证码识别远程代答题服务" />
    
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/uniformdefaultCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/uniform")   
    
    <style type="text/css" media="screen">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #666;
            padding: 40px;
        }

        h1 {
            margin-top: 0;
        }

        label {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            margin-bottom: 3px;
            clear: both;
        }

        .error {
            background-color: #FF8080;
        }

        .hide {
            display: none;
        }
    </style>   
</head>
<body>
    <header>
        <div id="top" class="content-wrapper">
            <div class="float-left">
                @*<p class="site-title"><a href="@("MediaDomain".GX())"><img src="/images/logo.gif" width="68" class="float-left" /><span class="logohspan">悟空打码</span></a><span class="logoyspan">5kdm</span></p>*@
            </div>
            <div class="float-right">               
                
            </div>
        </div>
    </header>
    <div id="body">
        <div id="Loading" class="Loading" style="display: none;">
        </div>
        <div id="divInfo" style="margin-top: 10px;">
        </div>       
        
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>        
    </footer> 
    @RenderSection("scripts", required: false)
</body>
</html>
