@{
    ViewBag.Title = "系统配置";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/SYSConfig/I";

}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
        
        </div>
        @if (rs.HP(操作.查看))
        {
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>在线答题用户</div>
                </div>
                <div class="portlet-body">                
                    <table class="tableadd table-hover">
                        <thead>
                            <tr>
                                <th width="300">在线用户</th>
                                <td><button class="btn red" type="button" onclick="jumptourl('/SYSConfig/OnlineQAUser')">查看在线答题用户</button></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th width="300">设置微信TK缓存</th>
                                <td>
                                    @using (Html.BeginForm("SetAccessTokenCache", "SYSConfig", new { ReturnUrl = "/SYSConfig/I" }, FormMethod.Post, new { id = "fmForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button class="btn green" type="button" id="submitBtn">设置微信TK缓存</button>
                                    }
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th width="300">查看微信TK缓存</th>
                                <td><button class="btn purple" type="button" onclick="jumptourl('/SYSConfig/AccessTokenCache')">查看微信TK缓存</button></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>                
                </div>
            </div>
        }
        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
        
        <script type="text/javascript">
            $(ajaxSubmitFormHandle('#submitBtn', '#fmForm', '提交失败，请联系管理员', '#divInfo', false));
        </script>

    }
