@model PrivilegeVModel
@{
    ViewBag.Title = "权限配置";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/Privilege/I";
    var resList = new ResourceVModel().List.ToList();
    var operList = new OperationVModel().List.ToList();
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">
    <div class="content-wrapper clear-fix">   
        <div class="topmenu alert @("alert-success".getBC("BootStrapCssAlert"))">
        @using (Html.BeginForm("I", "Privilege", FormMethod.Get))
        {
            @MvcHtmlString.Create(Html.DropDownList(resList, "ID", "ResourceCNName", "ResourceTree", "ParentId", "ResourceID", "ResourceID", Model.ResourceID.ToSecureString(), "class=\"m-wrap medium\"", "", "==资源=="))
            @MvcHtmlString.Create(Html.DropDownList("OperationID", "OperationID", operList, Model.OperationID.ToSecureString(), "class=\"m-wrap small\"", "ID", "OperationCNName", "", "==操作=="))
            <button class="btn yellow" type="submit">@("查询".GX())</button>
            if (rs.HP(操作.添加))
            {
                <button class="btn green" type="button" onclick="jumptourl('/Privilege/Add?ResourceID='+$('#ResourceID').val() +'&OperationID='+$('#OperationID').val()+'&returnUrl=@(Url.Encode(Request.RawUrl))')">@("添加".GX())</button>
            }           
               
                }
            </div>
            <div class="portlet box @("red".getBC("BootStrapCssTable"))">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>权限设置</div>
                </div>
                <div class="portlet-body">
                    <table id="MoreSunTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>权限名</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                                <tr id="TR_@item.ID">
                                    <td>
                                        @(item.wmfOperation == null ? "" : item.wmfOperation.OperationCNName)
                                    </td>
                                    <td>
                                        @if (Model.FlagTrashed == "0")
                                        {
                                            if (rs.HP(操作.修改))
                                            {
                                                <button class="btn blue" type="button" onclick="jumptourl('/Privilege/Edit?id=@item.ID&returnUrl=@(Url.Encode(Request.RawUrl))')">@("修改".GX())</button>
                                            }
                                            if (rs.HP(操作.彻底删除))
                                            {
                                                <button class="btn red" type="button" onclick="confirmHandle('确认要删除吗', '/Privilege/BatchDelete', { CheckedId : '@item.ID'}, null, null, null, hideElement,['#TR_@item.ID'])">@("彻底删除".GX())</button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")
        @Scripts.Render("~/bundles/morsuncommon")
        
        <script type="text/javascript">              
            
        </script>
    }
