@model MorSun.Model.LoginModel
@{
	ViewBag.Title = "海西建材平台";
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>	
</head>
<body>
	<div class="page">
		<div id="divInfo" style="margin-top: 10px;">
		</div>
		<div class="topNavBg">
			<div id="topNav" class="topNav">
				<a href="/">首页</a> <a href="/CGXX/">采购信息</a><a href="/XMXX/">项目动态</a> <a href="/KFS/">
					开发商名录</a> <a href="/GYS/">供应商名录</a> <a href="/XPJS/">产品介绍</a> <a href="/XXYD/">学习园地</a>
				<a href="/home/about">关于我们</a>
			</div>
		</div>
		<div id="main" class="wrapper main">
			<div class="content">
				
                <div style="overflow:hidden;">
                    <div class="contentLeft">
                        <div class="listContain shadow" style="margin-top: 0;">
                            <div class="leftListTitle">
                                采购信息 <a href="/CGXX/" class="more" style="color: White">更多 ></a>
                            </div>
                            <div class="listBody">
                                
                                    <div style="width: 100%; overflow: hidden;">
                                        <div id="zbSlides">
                                            <div class="zbSlides_Contain">
                                                
                                                    <div>
                                                        <span class="iconVoice"><a href="#">123- <span style="color: #F66A03;">456 </span>，由 <span style="color: #F66A03;">789</span> 中标</a></span>
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                }
                                <table class="tableUnder">
                                    <tr>
                                        <th style="text-align: left;">
                                            材料名称
                                        </th>
                                        <th>
                                            单位
                                        </th>
                                        <th>
                                            状态
                                        </th>
                                        <th>
                                            时间
                                        </th>
                                    </tr>
                                   
                                        <tr>
                                            <td style="width: 40%; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis;
												text-align: left; overflow: hidden;">
                                                <a href="#">7766</a>
                                            </td>
                                            <td style="width: 30%;">
                                                123
                                        </td>
                                        <td style="width: 10%">
                                            456
                                    </td>
                                    <td>
                                        【789】
                                    </td>
                                </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="contentRight">
                        @Html.Partial("_TableLogon")
                       
                    </div>
                </div>
				
				<!--友情链接 开始-->
				<div class="listContain fLink">
					<div class="leftListTitle">
						友情链接</div>
					<div class="listBody">
						@*<span>
							<img src="/Content/css/Image/f1.png" style="width: 152px; height: 47px;" /></span>*@
						<span>
							<img src="/Content/css/Image/f2.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f3.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f4.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f5.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f6.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f7.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f8.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f9.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f10.png" style="width: 152px; height: 47px;" /></span>
						<span>
							<img src="/Content/css/Image/f11.png" style="width: 152px; height: 47px;" /></span>
					</div>
				</div>
				<!--友情链接 结束-->
			</div>
		</div>
		<div id="footer" class="divFooter ">
			<div class="wrapper">
				<div class="footerSupport" style="margin-right: 125px; float: left;">
					<span style="margin: 12px; color: white">主办单位：福州市建设工程造价管理协会</span>
				</div>
				<div class="footerSupport" style="float: left;">
					<span style="margin: 12px; color: white">技术支持：福建省晨曦信息科技有限公司</span>
				</div>
				<div class="footerSupport" style="float: right;">
					<span style="margin: 12px; color: white">闽ICP备05007566号</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/JQueryQtipCustom/css")
    @Scripts.Render("~/Content/JQueryQtipCustom/js")
    @Styles.Render("~/Content/themes/morsun/css")
    @Scripts.Render("~/Scripts/slides")
    @Scripts.Render("~/Scripts/Common/HOHO18.Common")
<script type="text/javascript">

	
</script>
}
