@model RoleVModel
@{
    ViewBag.Title = "角色配置";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
    string rs = ViewBag.RS;
    var backurl = ViewBag.ReturnUrl ?? "/Role/Index";       
    var roleList = new RoleVModel().List.ToList();    
    var RPVList = new BaseBll<wmfRolePrivilegesView>().All.Where(p => p.RoleId == Model.RoleId);
}
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jqueryui")
<section class="featuredwhite">   
    <div class="content-wrapper clear-fix">
        <form class="styleThese">
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div>
                            <label>Message:</label>
                            <textarea cols="40" rows="5"></textarea>
                        </div>
                        <div>
                            <label>Unstyled:</label>
                            <input class="skipThese" type="text" size="40" value="This is unstyled on purpose" />
                        </div>
                        <div>
                            <label>Your Name:</label>
                            <input type="text" size="40" value="John Doe" />
                        </div>
                        <div>
                            <label>Your Email:</label>
                            <input type="email" size="40" value="mr_hotshot0357@example.com" />
                        </div>
                        <div>
                            <label>Search:</label>
                            <input type="search" size="40" />
                        </div>
                        <div>
                            <label>Phone:</label>
                            <input type="tel" size="40" />
                        </div>
                        <div>
                            <label>URL:</label>
                            <input type="url" size="40" />
                        </div>
                        <div>
                            <label>Datetime:</label>
                            <input type="datetime" size="40" />
                        </div>
                        <div>
                            <label>Date:</label>
                            <input type="date" size="40" />
                        </div>
                        <div>
                            <label>Month:</label>
                            <input type="month" size="40" />
                        </div>
                        <div>
                            <label>Week:</label>
                            <input type="week" size="40" />
                        </div>
                        <div>
                            <label>Time:</label>
                            <input type="time" size="40" />
                        </div>
                        <div>
                            <label>Datetime-local:</label>
                            <input type="datetime-local" size="40" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <label>Number:</label>
                            <input type="number" size="40" />
                        </div>
                        <div>
                            <label>Range:</label>
                            <input type="range" size="40" />
                        </div>
                        <div>
                            <label>Color:</label>
                            <input type="color" size="40" />
                        </div>
                        <div>
                            <label>Some Password:</label>
                            <input type="password" size="40" />
                        </div>
                        <div>
                            <label>I found your site:</label>
                            <select id="demoFoundSite">
                                <option value="google">Through Google</option>
                                <option value="twitter">Through Twitter</option>
                                <option value="other">Other&hellip;</option>
                                <option value="hi">&lt;Hi&gt;</option>
                            </select>
                        </div>
                        <div>
                            <label>How do you feel?</label>
                            <select id="demoFeeling" multiple="multiple" size=4>
                                <option value="elated">Elated</option>
                                <option value="happy">Happy</option>
                                <option value="content">Content</option>
                                <option value="ok">Ok</option>
                                <option value="unhappy">Unhappy</option>
                                <option value="frustrated">Frustrated</option>
                                <option value="cranky">Cranky</option>
                                <option value="mad">Mad</option>
                                <option value="unlisted">Anything else</option>
                            </select>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="radio" value="hi" /> Saying hi
                            </label>
                            <label>
                                <input type="radio" name="radio" value="feedback" /> Sending feedback
                            </label>
                            <label>
                                <input type="radio" name="radio" value="default" checked="CHECKED" /> Default Seleted Radio
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" id="contactBack" /> Please contact me back
                            </label>
                            <label>
                                <input type="checkbox" checked="CHECKED" id="goodDay" /> Today is a good day
                            </label>
                        </div>
                        <div>
                            <label>Upload a file:</label>
                            <input type="file" />
                        </div>
                    </td>
                </tr>
            </table>
            <div class="error">
                <!-- Here are some fields with "display: none" on them.
            When Uniform wraps them, the surrounding div should also get
            the "display: none" style applied. -->
                <input type="text" value="You should not see this." class="hide" />
                <select id="demoHide" class="hide">
                    <option>If you can see this, it's an error</option>
                </select>
                <input type="checkbox" class="hide" />
                <input type="radio" name="radio" class="hide" value="hidden" />
                <input type="file" class="hide" />
            </div>
            <div>
                <input type="submit" />
                <input type="reset" />
            </div>
        </form>
        <p class="styleThese">
            <a href="http://google.com/">Normal link</a>,
            <a href="http://google.com" class="uniformTest">uniformed link (self)</a> and
            <a href="http://google.com" class="uniformTest" target="newWindow">uniformed link (new window)</a>.
        </p>
    </div>  
</section>
    @section Scripts {        
        @Scripts.Render("~/bundles/jqueryval")        
        @Scripts.Render("~/bundles/validator")
        @Styles.Render("~/Content/JQueryQtipCss")
        @Scripts.Render("~/bundles/jqueryqtip")       
        @Scripts.Render("~/bundles/morsuncommon")
        @Styles.Render("~/Content/treetableCss")
        @Scripts.Render("~/bundles/treetable")  
        <script type="text/javascript">  
            $(function () {
                var $min, $remove, $apply, $uniformed;

                // Debugging code to check for multiple click events
                $selects = $("select").click(function () {
                    if (typeof console !== 'undefined' && typeof console.log !== 'undefined') {
                        console.log($(this).attr('id') + " clicked");
                    }
                });
                $uniformed = $(".styleThese").find("input, textarea, select, button, a.uniformTest").not(".skipThese");
                $uniformed.uniform();
            });
        </script>
    }
